* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #0b132b;
  color: #fdf6e3;
}

a {
  text-decoration: none;
}
nav a {
  color: #ceeded;
}

nav a:hover {
  color: #2ec4b6;
}

h1,
h2,
h3,
.cta-heading {
  font-family: "Raleway", sans-serif, serif;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  font-size: 16px;
  font-weight: 500;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 3vh 3vw;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-text p {
  font-size: 18px;
  font-weight: 400;
  color: #b5c5c9;
}

.hero-image img {
  width: 100%;
  border-radius: 2rem;
}

.cta-button {
  font-size: 18px;
  font-weight: 600;
  background-color: #ceeded;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  cursor: pointer;
  color: #0b132b;
  text-align: center;
}
.cta-button:hover {
  background-color: #a9d9d9;
}

h2 {
  text-align: center;
}

.information,
.cta {
  background-color: #ceeded;
  color: #0b132b;
  padding: 2rem 0;
}

.info-grid {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem;
}

.info-container {
  width: 22%;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.info-image img {
  width: 100%;
  height: 12rem;
  border-radius: 2rem;
  object-fit: cover;
}

.quote {
  background-color: #1c2541;
  padding: 3rem 12rem;
}

.quote-text {
  font-size: 28px;
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

.quote-author {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-content {
  display: flex;
  padding: 2rem 6rem;
  background-color: #1c2541;
  gap: 2rem;
  color: #fdf6e3;
  justify-content: space-evenly;
  border-radius: 2rem;
}

.cta-heading {
  font-size: 24px;
  font-weight: 700;
}

footer {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}
